<footer>
  <div class="container mt-5">
    <div class='row'>
      <div class='mx-auto'>
        @2022年 3月作成<br>
        <%= link_to "Todoapp", root_path %>
      </div>
    </div>
  </div>
</footer>